<style>header {
    color: #fff;
    text-align: center;
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
    padding: 5rem 6rem;
    width: 100%;
}

header a {
    color: #fff;
}

header a:hover {
    text-decoration: none;
    color: #fff;
}

header p .display-1 {
    font-weight: bold;
}

main.container {
    text-align: center;
    padding-top: 2rem;
}

.row-cols-1>* {
    padding-top: 2rem;
}

.body-font {
    font-size: 1rem;
}

main.container .display-6 {
    font-weight: bold;
}

</style>
</head>