{%- include head.html -%}
{%- include custom-css.html -%}
<body>
    {%- include header.html -%}

    <main class="container" role="main">
        <p class="display-6">Our Services</p>
        <p class="body-font">We provide pod hosting to anyone and everyone. Get started today by submitting an <a href="#enquire">enquiry below</a>!</p>
        <p class="body-font"><b>Please be aware:</b> This is a passion project and while we do strive to answer all enquiries within 24 hours, this may not be possible due to other responsibilities.</p>

        {%- include contact-form.html -%}

        {%- include footer.html -%}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body></html>
